{% extends 'base.html.twig' %}

{% block title %}Nos produits
{% endblock %}

{% block body %}

	<h1>Nos produits</h1>

	<section class="produits">
		{% if categories is empty %}
			<p>Nous n'avons encore aucune catégorie de produits pour le moment, repassez plus tard</p>
		{% endif %}

		<div class="grid">
			{% for category in categories %}
				<article>
					<a href="{{ path('category.view', {'slug': category.slug}) }}">
						<img src="{{ vich_uploader_asset(category, 'imageFile') | imagine_filter('thumb') }}" alt="{{ category.name }}"/>
						<div>
							<p>{{ category.name }}</p>
						</div>
					</a>
				</article>
			{% endfor %}
		</div>

	</section>

{% endblock %}
