{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}

<h1>Nos produits</h1>

<section class="produits">
    {% if categories is empty %}
        <p>Nous n'avons encore aucune catégorie de produits pour le moment, repassez plus tard</p>
    {% endif %}

    {% include 'category/showcase.html.twig' %}

{#
    {% for category in categorys %}
    <article>
        <a href="{{ path('category.view', {'slug': category.slug}) }}">
            <img src="{{ asset( 'img/' ~ category.image) }}" alt="{{ category.name }}" />
            <p>{{ category.name }}</p>
        </a>
    </article>
    {% endfor %}
#}
</section>

{% endblock %}
