<section class="showcase">
    {% for category in categorys %}
    <a href="{{ path('category.view', {'slug': category.slug}) }}">
        <img src="{{ asset( 'img/' ~ category.icon) }}" alt="{{ category.name }}" />
    </a>
    {% endfor %}
</section>