{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<h1>Administration</h1>

<section class="admin">
    <a href="#" class="btn">Gestion des utilisateurs</a>
    <a href="{{ path('admin.category.list') }}" class="btn">Gestion des catégories</a>
    <a href="#" class="btn">Gestion des produits</a>
    <a href="#" class="btn">Gestion des commandes</a>
</section>
{% endblock %}
