<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TakeFood{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="stylesheet" href="{{ asset("css/takefood.css") }}">
        {% endblock %}
    </head>
    <body>
        {% include 'parts/header.html.twig' %}
        {% block search %}
            {% include 'parts/search.html.twig' %}
        {% endblock %}
        {% include 'parts/user.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
        <script src="{{ asset("js/script.js") }}"></script>
        {% endblock %}
    </body>
</html>
