<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TakeFood{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link rel="stylesheet" href="{{ asset("css/takefood.css") }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'parts/header.html.twig' %}
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
