<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="TakeFood est une application Symfony fictive pour commander des repas depuis chez soi."/>
		<title>
			{% block title %}TakeFood
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset("css/style.css") }}">
			<link rel="stylesheet" href="{{ asset("css/fontawesome.min.css") }}">
		{% endblock %}
	</head>
	<body>
		{% include 'parts/header.html.twig' %}
		{% block search %}
			{% include 'parts/search.html.twig' %}
		{% endblock %}
		{% include 'parts/user.html.twig' %}

		<main>
			{% block body %}{% endblock %}
		</main>
		{% block javascripts %}
			<script src="{{ asset("js/script.js") }}"></script>
		{% endblock %}
	</body>
</html>
