{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block search %}{% endblock %}

{% block body %}

    <h1>Visualisation du profil</h1>

    {% if not app.user %}
        <p>Vous devez vous <a href="{{ path('security.connexion') }}">connecter</a> pour accéder à votre profil.</p>
    {% else %}
        <p>Nom d'utilisateur : {{ app.user.username }}</p>
        <p>Adresse email : {{ app.user.email }}</p>
    {% endif %}

{% endblock %}
